html, body{
  height:100%;
  width:100%;
  margin:0;
  buffer:0;
  overflow:hidden;
}
#grid{
  position:absolute;
  left:15%;
  height:100%;
  width:70%;
  background:#345678;
}
.drop{
  position:absolute;
  background:#123456;
  border:2px solid #000000;
}
.drag{
  position:absolute;
  background:#000000;
  height:50px;
  width:50px;
  left:0px;
  z-index:2;
}
.drop.status-over{
  border:2px solid #FFFFFF;
  z-index:1;
}
